/* GENERAL WIDGET CODE */
ListItem {
	width:auto;
}
Button,Input,Checkbox {
	width:1fr;
}
/* SPECIFIC CONTAINER CODE */
#homepage_horizontal_container {
	align: center middle;
	background: $background;
}
#homepage_vertical_container {
	background: $surface;
	align:center top;
	max-width:70;

	border: vkey $primary;
}
#homepage_info_container {
	border:hkey $primary;
	height: 7;
}
#tab_vertical_archivecontent_left {
	width: 35%;
}
#verticalscroll_container_left {
	width:20%;
}



/* MODAL */
ModalASPCFilterScreen {
	align:center middle;
}
#vertical_modal_container {
	width:50%;
	align:center middle;
}
#listview_modal_filterorigin, #listview_modal_filterdestination {
	border:solid $primary;
}
/* SPECIFIC WIDGETS CODE */
#listview_addarchive_selected {
	max-height:60%;
}
#listview_folders, #listview_files, #listview_addarchive_selected, #listview_archive_content {
	border: solid $primary;
	overflow-x:auto;
	overflow-y:auto;
}
#listview_log {
	overflow-x:auto;
	overflow-y: auto;
}
.static_title_homepage {

	margin-top: 7;
	text-align: left;
	color: $primary;
	background: $surface;
	width:75;
	height:25;
}
#button_remove_project {
	margin-bottom: 1;
}
#homepage_button_open {
	background: $primary;
	color: $surface;

	width:100%;

	padding-top:1;
	padding-bottom:2;
}
#directorytree_main {
	min-height:70%;
	max-height:80%;
}
#button_explore_project {
	width:100%;
}
#collapsible_project_list {
	max-height:40%;
}

#tab_verticao_archiveoptions {
	width: 1fr;
}



