/* GENERAL WIDGET CODE */
ListItem {
	width:auto;
}
ModalScreen {
	align:center middle;
}
Button,Input,Checkbox {
	width:1fr;
}
PlotextPlot {
	margin-top:2;
	min-height:25;
	max-height:100;
}
FigletWidget {
	text-align:center;
	width:100%;
}
Button {
	text-style:bold;
	min-height:3;
	background:$panel;
}
.button_main {
	background: $secondary;
	text-style: bold;
}

ListView {
	border: $primary heavy;
}
/* SPECIFIC CONTAINER WIDGET CODE */
#homepage_horizontal_container {
	align: center middle;
	background: $background;
}
#homepage_vertical_container {
	background: $surface;
	align:center top;

	padding-top:10;
	max-width:70;

	border: vkey $primary;
}
#homepage_info_container {
	border:hkey $primary;
	height: 15;
	align:center middle;
}
#tab_vertical_archivecontent_left {
	width: 35%;
}
#verticalscroll_container_left {
	width:20%;
	max-height:1fr;
}
#verticalscroll_container_right {
	width:45%;
}
#markdown_help {
	background:$panel;
	border-right:heavy $primary;
	border-left:heavy $primary;
}
#collapsible_data_graph {
	height:1fr;
}
#verticalscroll_collapsible_graphdata {
	height:1fr;
	padding-bottom:5;
}
#horizontal_plotext_foldersize, #horizontal_plotext_sizeoptions, #horizontal_plotext_filesize {
	height:5;
}





/* MODAL */
/*
ModalASPCFilterScreen, ModalASPCCreateArchive, ModalASPCAddToArchive, ModalASPCRemoveProject {
	align:center middle;
}
*/
#modal_vertical_archive_move {
	align:center middle;
	width:40%;
	border:thick $primary;
	height:40;
	padding-top:10;
}
#modal_label_archive_move {
	text-align:center;
	width:100%;
	height:5;
	color: $primary;
}
#modal_archive_vertical_container {
	background: $panel;
	width:50%;
}
#homepage_horizontal_container {
	width:50%;
	background:$panel;
	border-right:heavy $secondary;
	border-left:heavy $secondary;
}
#vertical_modal_container,#vertical_modal_addarchive {
	width:50%;
	align:center middle;
}
#vertical_help_container {
	width:40%;
	align:center middle;
	background:$panel;
}
/* SPECIFIC WIDGETS CODE */
#listview_addarchive_selected {
	max-height:60%;
}
#listview_folders, #listview_files, #listview_addarchive_selected, #listview_archive_content {
	overflow-x:auto;
	overflow-y:auto;
}
#listview_log {
	border: none;
	overflow-x:auto;
	overflow-y: auto;
}
#collapsible_archive_settings {
	max-height:15;
}
#collapsible_data_markdown {
	max-height:50;
}
.static_title_homepage {

	margin-top: 7;
	text-align: left;
	color: $primary;
	background: $surface;
	width:75;
	height:25;
}
#button_remove_project {
	margin-bottom: 1;
}
#homepage_button_open {
	background: $primary;
	color: $surface;

	width:100%;

	padding-top:1;
	padding-bottom:2;
}
#directorytree_main {
	min-height:70%;
	max-height:80%;
}
#button_explore_project {
	width:100%;
}
#collapsible_project_list {
	max-height:40%;
}

#tab_verticao_archiveoptions {
	width: 1fr;
}

#collapsible_archive_modify {
	height:1fr;
}
#verticalscroll_archive_modify {
	height:1fr;
	margin-bottom:1;
}
#listview_extensionlist {
	max-height:20;
}
